:root{
  --app-color: #3f51b5;
  --app-header: 100px;
  --app-footer: 50px;
  --app-height: 100%;
  --app-text1: rgb(255, 156, 7);
  --app-text2: #c0c0c0;
  --app-text3: rgba(1, 255, 107, 0.2);
}

body {
  /* max-width: 100px;
  max-width: 100vh; */
  /* overflow: auto; */
  background-color: var(--app-color)
}


.MuiInputBase-root{
  color: var(--app-text1) !important;
}
#date-picker-inline-label{
  color: white !important;
}

.MuiFormLabel-root{
  color: white !important;
}

label#demo-controlled-open-select-label{
  color: black !important;
}